body {
    background: url("img/background.jpg") no-repeat;
}
.table {
    text-align: center;
    margin: auto;
    margin-left: 40px;
    width: 500px;
    height: 500px;
}
#tableStatistic{
    width: 250px;
    height: 350px;
    text-align: center;
    margin: auto;
}
#tableStatistic td {
    border: solid black 2px;
}
#tableStatistic img {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    border: solid black 1px;
    border-radius: 5px;
}
#tableStatistic img:hover {
    transform: scale(1.01);
    background-color: darkgray;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.table td {
    border: solid black 1px;
}
#page {
    width : 80%;
}
#panel {
    width: 75px;
    height: 500px;
    border: solid black 1px;
}

#panel td{
    width: 40px;
    height: 40px;
    border: solid black 1px;
}
#panel td:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    transition: 0.3s linear;
}
.shadow {
    opacity:0.2;
    background-color: darkgray;
    transition: 0.5s ease-in-out;
}
.no-shadow {
    opacity: 1;
    transition: 0.7s ease-in-out;
}
.myField {
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

